
@media screen and (min-width: 375px) and(max-width: 667px) {
    body {
        background-color: white;
    }
}

.alert-info {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

h1 {
    display: flex;
    justify-content: center;
}

.top nav {
    display: flex;
    justify-content: center;
}

.nav-links {
    color: var(--main-link-color);
    display: inline-block;
    justify-content: center;

.main {
    display: flex;
    justify-content: center;
}

