body {
    background-color: darkred;
}

@media screen and (min-width: 700px) {
    body {
        background-color: darkolivegreen;
    }
}

@media screen and (min-width: 750px){
    body{
        background-color: orangered;
    }
}